<meta property="og:title" content="Clarity for the Nerd">
<meta property="og:image" content="christina-wocintechchat-refactoring-unsplash.jpg">
<meta property="og:description" content="In this essay I present choices and combinations as a framework to think and communicating about a business domain and to translate it into code using the Rust programming language.">
<meta property="og:url" content="https://software-garden.gitlab.io/rust-business-modeling/">
<script src="https://hookworm.hornbook.io/script.js" data-site="DKJXUEWZ" defer></script>
