#title-slide * {
  color: hsl(132, 9%, 89%);
}

#title-slide img {
  height: 4rem;
}

#title-slide figcaption[aria-hidden] {
  display: none;
}

.reveal [data-background-image] * {
  text-shadow:
      var(--r-background-color, black) 0 0 5px,
      var(--r-background-color, black) 0 0 5px,
      var(--r-background-color, black) 0 0 5px,
      var(--r-background-color, black) 0 0 5px
  ;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
}

.row > * {
  width: 100%;
}

.logo {
  height: 6rem;
  width: auto;
}

.carousel {
  display: flex;
  align-items: center;
}

.carousel .fragment {
  width: 100%;
  flex-shrink: 0;
  visibility: hidden !important;
}

.carousel .fragment.current-fragment {
  visibility: visible !important;
}

.carousel .fragment:not(:first-child) {
  margin-left: -100%;
}

.reveal pre.sourceCode {
  box-shadow: none;
  font-size: 0.9rem;
}
